/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font-family: "Avenir Next";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}


@font-face{
	font-family: "LAO";
	src: url("../fonts/Lao MN.ttc");
}


/* Início */
header{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #B43D25;
	width: 100%;
	height: 110px;
	z-index: 2;
	-webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -ms-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
}

div.center{
	max-width: 1000px;
	height: 100%;
	margin: auto;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
}


header div.center div#logo{
	width: 170px;
	height: calc(100% - 20px);
	margin: 10px;
	image-rendering: optimizeQuality;
}

header div.center img{
	width: auto;
	height: 100%;
}


header div.center div#container-dir{
	flex-grow: 1;
}


/********* TELEFONES *********/
article#telefones{
	right: -142px;
	top: 50%;
	position: fixed;
	padding: 0px 20px 0px 20px;
	background-color: #FFF;
	float: right;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border: 1px solid #000;
	transition-property: right;
	transition-duration: 0.5s;
	box-shadow: -2px 2px 0px #444;
	opacity: 0.6;
    filter: alpha(opacity=60);
}

article#telefones:hover{
	right: -3px;
	opacity: 1;
    filter: alpha(opacity=100);
}


article#telefones p{
	color: #000;
}

article#telefones div#phone-number{
	background-image: url("../images/phone-icon.png");
	background-size: auto 80%;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 38px;
	line-height: 35px;
}

article#telefones div#whats-number{
	background-image: url("../images/whatsapp-icon.png");
	background-size: auto 80%;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 38px;
	line-height: 35px;
}

/******************/

@keyframes menuDropAnimation {
    from {right: -50px;}
    to {right: 15px;}
}


@media screen and (max-width: 450px){


	header{
		height: 80px;
	}
	div#menu{
		display: none;
	}

	div#menu-drop{
		background-image: url("../images/menu-icone.png");
		background-size: 60% auto;
		background-position: center center;
		background-repeat: no-repeat;
		animation-name: menuDropAnimation;
    	animation-duration: 1s;
    	
    	-webkit-animation-fill-mode:forwards;
		-moz-animation-fill-mode:forwards;
		animation-fill-mode:forwards;
	}

	header div.center div#container-dir div#menu-drop{
		
	}
	

}



header div.center div#container-dir{
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	flex-direction: column;
  	flex-flow: column wrap;
  	
}

header div.center div#container-dir div#menu-lateral{
	width: 100%;
	position: fixed;
	top: 80px;
	right: 0px;
	background-color: #B43D25;
	text-align: center;
	display: none;
}

header div.center div#container-dir div#menu-lateral a{
	width: 100%;
	float: left;
	padding: 10px;
	text-decoration: none;
	color: #FFF;
	font-size: 14px;
	overflow: hidden;
}



header div.center div#container-dir div#menu{
	float: right;
	width: 100%;
	margin-bottom: 2px;
	position: relative;
}

header div.center div#container-dir div#menu-drop{
	width: 50px;
	max-width: 300px;
	height: 50px;
	position: fixed;
	right: -50px;
	top: 15px;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	justify-content: center;
  	align-items: center; 
}

header div.center div#container-dir div#menu-drop:hover{
	background-color: rgba(255, 255, 255, 0.4);	
}


header div.center div#container-dir div#menu-drop a{
	width: 100%;
	height: 100%;
	display: block;
	
}

header div.center div#container-dir div#menu nav{
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
 	width: 100%;
}


header div.center div#container-dir div#menu nav a{
	line-height: 108px;
	flex-grow: 1;
	color: #DDD;
	text-align: center;
	height: 100%;
	outline: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    font-size: 0.8em;
    font-family: "Avenir Next Condensed";
}

header div.center div#container-dir div#menu a:hover{
	color: #FFF;
	border-top: 2px solid #FFF;
	
}

/****** CHAMA QUADO DA SCROLL DA PÁGINA ******/
header.smaller{
	height: 80px;
}
header.smaller div.center div#container-dir div#menu nav a{
	line-height: 78px;
}

/**********/

section{
	width: 100%;
	float: left;
}

section div.center div.title-desc{
	width: 100%;
	font-size: 20px;
}

section div.center div.title-desc h1{
	font-family: "LAO";
	font-size: 25px;
}


/****** FIRST SECTION ******/
section#firstSection {
	padding-top: 110px;
	height: 550px;
	position: relative;
}

/****** SECOND SECTION ******/
section#secondSection {
	background-color: #FFF;
	font-family: "LAO";
	padding: 20px 0px 20px 0px;
}

section#secondSection div.center{
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

section#secondSection div.center div#categorias{
	width: 100%;
	float: left;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	flex-flow: row wrap;
  	margin-bottom: 10px;
}

section#secondSection div.center div#categorias p{
	flex-grow: 1;
	text-align: center;
	font-size: 22px;
	padding-bottom: 10px;
}

section#secondSection div.center div.produtos{
	width: 435px;
	height: 300px;
	background-size: 90% auto;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #FFF;
}

section#secondSection div.center div.produtos div.desc-produto{
	float: left;
	font-weight: bold;
	color: #000;
	position: absolute;
	font-size: 18px;
	padding: 5px 0px 5px 0px;
}

section#secondSection div.center div#categoria1{
	background-image: url("../images/img-categoria1.png");
	position: relative;
}

section#secondSection div.center div#categoria1 div#oculos-grau{
	top: 245px;
	left: 55px;
}

section#secondSection div.center div#categoria1 div#oculos-sol{
	top: 165px;
	right: 5px;
}

section#secondSection div.center div#categoria2{
	background-image: url("../images/img-categoria2.png");
	position: relative;
	background-color: #EEE;
}

section#secondSection div.center div#categoria2 div#lente-colorida{
	width: 100%;
	top: 265px;
	left: 0px;
	text-align: center;
}

section#secondSection div.center div#texto-produtos{
	font-family: "Avenir Next";
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	font-size: 25px;
	height: 200px;
	text-align: center;
	color: #000;
}

section#secondSection div.center div#texto-produtos a{
	font-family: "LAO";
	color: #B43D25;
	float: left;
	margin-top: 5px;
	text-align: center;
}

section#secondSection div.center div#texto-produtos a:hover{
	text-decoration: underline;
}

section#secondSection div.center div#categoria3{
	background-image: url("../images/img-categoria3.png");
	position: relative;
	background-color: #EEE;
}

section#secondSection div.center div#categoria3 div#lente-grau{
	width: 100%;
	top: 265px;
	left: 0px;
	text-align: center;
}

/****** THIRD SECTION ******/
section#thirdSection {
	background-color: #EEE;
}

section#thirdSection div.center{
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	padding: 15px;
	width: calc(100% - 30);
}

section#thirdSection div.center div.marcas{
	width: 300px;
	height: 190px;
	background-color: #FFF;
	margin-top: 20px;
	font-family: "LAO";
	font-size: 30px;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	text-align: center;
}

section#thirdSection div.center div#mais-marcas{
	background: none;
}

section#thirdSection div.center div.marcas img{
	width: 100%;
	height: auto;
}


/****** FOURTH SECTION ******/

section#fourthSection{
	background-color: #FFF;
	padding-top: 20px;
}

section#fourthSection div.center{
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

section#fourthSection div.center div.title-desc h1{
	padding: 0px 15px 0px 15px;
}

section#fourthSection div.center div#exame-gratis{
	float: left;
	background: #7BAA22;
	padding: 10px 15px 10px 15px;
	color: #FFF;
}

section#fourthSection div.center div#exame-gratis span{
	font-weight: bold;
}

section#fourthSection div#maps{
	width: 100%;
}


/****** FIFTH SECTION ******/

section#fifthSection{
	background-color: #FFF;
	padding: 20px 0px 20px 0px;
}

section#fifthSection div.center{
	max-width: 600px;
	text-align: justify;
	line-height: 35px;
	padding: 15px;
	width: calc(100% - 30);
}

section#fifthSection div.center h1{
	text-align: center;
}



section#redes-sociais{
	background-color: #6072AC;
}

section#redes-sociais div.center{
	padding: 10px;
	max-width: 600px;
	text-align: center;
	align-content: center;
	justify-content: center;
	flex-flow: row wrap;
	color: #FFF;
}

section#redes-sociais div.center div.fb-like{
	margin-left: 10px;
}


footer{
	width: 100%;
	background-color: #333;
	float: left;
	
}

footer div.center{
	padding: 10px;
	width: calc(100% - 20);
}

footer div.center div#copyright{
	text-align: center;
	flex-grow: 1;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
	align-items: flex-end;
}

footer div.center div#dev-text{
	min-width: 130px;
}

footer div.center div#dev-text a div#dev-logo{
	width: 90px;
	height: 65px;
	background-image: url("../images/logo-AC.png");
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto;
	opacity: 0.6;
    filter: alpha(opacity=60);
}

footer div.center div#dev-text a div#dev-logo:hover{
	opacity: 1;
    filter: alpha(opacity=100);
}

footer div.center p{
	color: #FFF;

}

