/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Myriad Pro";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}


/* Início */
header{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #B43D25;
	width: 100%;
	height: 140px;
	z-index: 2;
	-webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -ms-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
}

div.center{
	max-width: 1000px;
	min-width: 575px;
	height: 100%;
	margin: auto;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
}


header div.center div#logo{
	width: 250px;
	background-image: url("../images/logotipo-lummy.png");
	background-size: auto 85%;
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
	image-rendering: optimizeQuality;
}


header div.center div#container-dir{
	flex-grow: 1;
}

header div.center div#container-dir div#telefones{
	width: 100%;
	height: 30px;
	background-color: #FFF;
	float: right;
	border-bottom-left-radius: 10px;
	
}

header div.center div#container-dir div#telefones p{
	color: #000;
}

header div.center div#container-dir div#telefones div#phone-number{
	height: 100%;
	float: right;
	background-image: url("../images/phone-icon.png");
	background-size: auto 80%;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 25px;
	margin-right: 10px;
	line-height: 28px;
}

header div.center div#container-dir div#telefones div#whats-number{
	float: right;
	height: 100%;
	background-image: url("../images/whatsapp-icon.png");
	background-size: auto 80%;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 30px;
	margin-right: 15px;
	line-height: 28px;
}

header div.center div#container-dir div#menu{
	float: right;
	width: calc(100% - 10px);
}

header div.center div#container-dir div#menu nav{
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
}


header div.center div#container-dir div#menu a{
	line-height: 110px;
	flex-grow: 1;
	text-align: center;
	display: block;
	float: left;
	color: #FFF;
	-webkit-transition: line-height 0.2s;
    -moz-transition: line-height 0.2s;
    -ms-transition: line-height 0.2s;
    -o-transition: line-height 0.2s;
    transition: line-height 0.2s;
}

header div.center div#container-dir div#menu a:hover{
	background-color: #FFF;
	color: #B43D25;
}

/****** CHAMA QUADO DA SCROLL DA PÁGINA ******/
header.smaller{
	height: 90px;
}
header.smaller div.center div#container-dir div#menu nav a{
	line-height: 60px;
}
/**********/

section{
	width: 100%;
	background-color: gray;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
}

/****** FIRST SECTION ******/
section#firstSection {
	padding-top: 70px;
	background-image: url("background1.png");
	height: 550px;
}

/****** SECOND SECTION ******/
section#secondSection {
	background-color: #FFF;
	font-family: "LAO MN";
	padding-bottom: 15px;
}

section#secondSection div.center{
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

section#secondSection div.center div#categorias{
	width: 100%;
	float: left;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
}

section#secondSection div.center div#categorias p{
	flex-grow: 1;
	text-align: center;
	padding: 20px 10px 20px 10px;
	font-size: 25px;
}

section#secondSection div.center div.produtos{
	width: 450px;
	height: 300px;
	background-size: 80% auto;
	background-position: center center;
	background-repeat: no-repeat;
	
}

section#secondSection div.center div.produtos div.desc-produto{
	float: left;
	padding: 10px 20px 10px 20px;
	background-color: #000;
	color: #FFF;
	border-radius: 20px;
	position: absolute;
}

section#secondSection div.center div#categoria1{
	background-image: url("../images/img-categoria1.png");
	position: relative;
}

section#secondSection div.center div#categoria1 div#oculos-grau{
	top: 240px;
	left: 70px;
}

section#secondSection div.center div#categoria1 div#oculos-sol{
	top: 150px;
	left: 278px;
}

section#secondSection div.center div#categoria2{
	background-image: url("../images/img-categoria2.png");
	background-size: 69% auto;
	position: relative;

}

section#secondSection div.center div#categoria2 div#lente-colorida{
	top: 260px;
	left: 68px;
}

section#secondSection div.center div#texto-produtos{
	font-family: "Myriad Pro";
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	font-size: 25px;
	padding: 10px;
	height: 200px;
	width: 430px;
	text-align: center;
}

section#secondSection div.center div#texto-produtos a{
	font-family: "LAO MN";
	color: #B43D25;
	float: left;
	margin-top: 5px;
	text-align: center;
}

section#secondSection div.center div#texto-produtos a:hover{
	text-decoration: underline;
}

section#secondSection div.center div#categoria3{
	background-image: url("../images/img-categoria3.png");
	position: relative;
}

section#secondSection div.center div#categoria3 div#lente-grau{
	top: 260px;
	left: 69px;
}

/****** THIRD SECTION ******/
section#thirdSection {
	background-color: #DDD;
}

section#thirdSection div.center{
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	padding: 15px;
}

section#thirdSection div.center div#title-desc{
	width: 100%;
	font-size: 20px;
}

section#thirdSection div.center div#title-desc h1{
	font-family: "LAO MN";
	font-size: 25px;
}

section#thirdSection div.center div.marcas{
	width: 300px;
	height: 190px;
	background-color: #FFF;
	margin-top: 20px;
	font-family: "LAO MN";
	font-size: 30px;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	text-align: center;
}

section#thirdSection div.center div#mais-marcas{
	background: none;
}

section#thirdSection div.center div.marcas img{
	width: 100%;
	height: auto;
}

footer{
	height: 300px;
	background-color: orange;
}

