/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Avenir Next";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}


@font-face{
	font-family: "LAO";
	src: url("../fonts/Lao MN.ttc");
}


/* Início */
header{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #B43D25;
	width: 100%;
	height: 110px;
	z-index: 2;
	-webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -ms-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
}

div.center{
	max-width: 1000px;
	height: 100%;
	margin: auto;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
}


header div.center div#logo{
	width: 220px;
	margin: 10px;
	background-image: url("../images/logotipo-lummy.png");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
	image-rendering: optimizeQuality;
}


header div.center div#container-dir{
	flex-grow: 1;
}


/********* TELEFONES *********/
article#telefones{
	right: -142px;
	top: 50%;
	position: fixed;
	padding: 0px 20px 0px 20px;
	background-color: #FFF;
	float: right;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border: 1px solid #000;
	transition-property: right;
	transition-duration: 0.5s;
	box-shadow: -2px 2px 0px #444;
	opacity: 0.6;
    filter: alpha(opacity=60);
}

article#telefones:hover{
	right: -3px;
	opacity: 1;
    filter: alpha(opacity=100);
}


article#telefones p{
	color: #000;
}

article#telefones div#phone-number{
	background-image: url("../images/phone-icon.png");
	background-size: auto 80%;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 38px;
	line-height: 35px;
}

article#telefones div#whats-number{
	background-image: url("../images/whatsapp-icon.png");
	background-size: auto 80%;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 38px;
	line-height: 35px;
}

/******************/

header div.center div#container-dir div#menu{
	float: right;
	width: calc(100% - 10px);
	margin-bottom: 2px;
}

header div.center div#container-dir div#menu nav{
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
}


header div.center div#container-dir div#menu a{
	line-height: 108px;
	flex-grow: 1;
	text-align: center;
	display: block;
	float: left;
	color: #DDD;
	outline: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

header div.center div#container-dir div#menu a:hover{
	color: #FFF;
	border-top: 2px solid #FFF;
	
}

/****** CHAMA QUADO DA SCROLL DA PÁGINA ******/
header.smaller{
	height: 80px;
}
header.smaller div.center div#container-dir div#menu nav a{
	line-height: 78px;
}

/**********/

section{
	width: 100%;
	background-color: gray;
	float: left;
}

/****** FIRST SECTION ******/
section#firstSection {
	padding-top: 110px;
	height: 550px;
	position: relative;
}

/****** SECOND SECTION ******/
section#secondSection {
	background-color: #FFF;
	font-family: "LAO";
	padding: 20px 0px 20px 0px;
}

section#secondSection div.center{
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

section#secondSection div.center div#categorias{
	width: 100%;
	float: left;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	flex-flow: row wrap;

}

section#secondSection div.center div#categorias p{
	flex-grow: 1;
	text-align: center;
	font-size: 25px;
	padding-bottom: 10px;
}

section#secondSection div.center div.produtos{
	width: 400px;
	height: 300px;
	background-size: 80% auto;
	background-position: center center;
	background-repeat: no-repeat;
}

section#secondSection div.center div.produtos div.desc-produto{
	float: left;
	font-weight: bold;
	color: #000;
	position: absolute;
	font-size: 18px;
	background-color: #FFF;
	padding: 5px 0px 5px 0px;
}

section#secondSection div.center div#categoria1{
	background-image: url("../images/img-categoria1.png");
	position: relative;
}

section#secondSection div.center div#categoria1 div#oculos-grau{
	top: 245px;
	left: 55px;
}

section#secondSection div.center div#categoria1 div#oculos-sol{
	top: 165px;
	right: 5px;
}

section#secondSection div.center div#categoria2{
	background-image: url("../images/img-categoria2.png");
	position: relative;

}

section#secondSection div.center div#categoria2 div#lente-colorida{
	width: 100%;
	top: 265px;
	left: 0px;
	text-align: center;
}

section#secondSection div.center div#texto-produtos{
	font-family: "Avenir Next";
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	font-size: 25px;
	height: 200px;
	text-align: center;
}

section#secondSection div.center div#texto-produtos a{
	font-family: "LAO";
	color: #B43D25;
	float: left;
	margin-top: 5px;
	text-align: center;
}

section#secondSection div.center div#texto-produtos a:hover{
	text-decoration: underline;
}

section#secondSection div.center div#categoria3{
	background-image: url("../images/img-categoria3.png");
	position: relative;
}

section#secondSection div.center div#categoria3 div#lente-grau{
	width: 100%;
	top: 265px;
	left: 0px;
	text-align: center;
}

/****** THIRD SECTION ******/
section#thirdSection {
	background-color: #DDD;
}

section#thirdSection div.center{
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	padding: 15px;
}

section#thirdSection div.center div#title-desc{
	width: 100%;
	font-size: 20px;
}

section#thirdSection div.center div#title-desc h1{
	font-family: "LAO";
	font-size: 25px;
}

section#thirdSection div.center div.marcas{
	width: 300px;
	height: 190px;
	background-color: #FFF;
	margin-top: 20px;
	font-family: "LAO";
	font-size: 30px;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	text-align: center;
}

section#thirdSection div.center div#mais-marcas{
	background: none;
}

section#thirdSection div.center div.marcas img{
	width: 100%;
	height: auto;
}

section#fourthSection{
	background-color: #FFF;
}

footer{
	height: 300px;
	background-color: orange;
}

