.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/

@keyframes fadeAnimation{
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  overflow: hidden;
  text-align: center;
  background-color: #4d87e2;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  animation-name: fadeAnimation;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#banner1{
  background-image: url("../images/img-banner3.jpg");
  animation-delay: 6s;
}

#banner2{
  background-image: url("../images/img-banner4.jpg");
  animation-delay: 4s;
}

#banner3{
  background-image: url("../images/img-banner5.jpg");
  animation-delay: 2s;
}




.gallery #img-banner1{
  background-image: url("../images/img-banner5.jpg");
}
.gallery #img-banner2{
  background-image: url("../images/img-banner4.jpg");
}
.gallery #img-banner3{
  background-image: url("../images/img-banner3.jpg");
}

.gallery .item img{
  width: 100%;
  height: auto;
}

.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}
