.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
}
.gallery .item {
  height: 100px;
  overflow: hidden;
  text-align: center;
  background-color: #4d87e2;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.gallery #img-banner1{
  background-image: url("../images/img-banner1.jpg");
}
.gallery #img-banner2{
  background-image: url("../images/img-banner2.jpg");
}
.gallery #img-banner3{
  background-image: url("../images/img-banner3.jpg");
}

.gallery .item img{
  width: 100%;
  height: auto;
}

.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}
