
/*
	Theme controls how everything looks in Gallery CSS.
*/

.gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #B43D25;
  overflow: hidden;
  text-align: center;
  background-size: cover;
  background-position: center center;
  
}

.gallery div.center{
  height: calc(100% - 110px);
  margin-top: 110px;
  padding: 0px 15px 0px 15px;
  width: calc(100% - 30px);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallery div.center h1{
  width: 100%;
  font-size: 2em;
  font-family: "Avenir Next Condensed";
}

.gallery div.center span.preco{
  font-weight: bold;
}

.gallery div.center p{
  width: 100%;
}

#banner1{
  background-image: url("../images/img-banner3.jpg");
}

#banner1 div.center{
  
  text-align: left;
  color: #FFF;
}


#banner2{
  background-image: url("../images/img-banner4.jpg");
}

#banner3{
  background-image: url("../images/img-banner6.jpg");
  background-position: center bottom;

}
#banner3 div.center{
  text-align: left;
  text-shadow: 1px 1px 2px #FFF;
}

#banner4{
  background-image: url("../images/img-banner5.jpg");

}
#banner4 div.center{
  text-align: right;

}


.gallery #img-banner1{
  background-image: url("../images/img-banner5.jpg");
}
.gallery #img-banner2{
  background-image: url("../images/img-banner4.jpg");
}
.gallery #img-banner3{
  background-image: url("../images/img-banner3.jpg");
}

.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.controls div.center{
  width: calc(100% - 30px);
  justify-content: flex-end;
  padding-right: 15px;
}

.controls div.center a {
  display: inline-block;
  margin: 0 .02em;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  transition: color .1s;
  color: #FFF;
  background-color: rgba(0,0,0, 0.3);
  font-family: "Euphemia UCAS";
  text-shadow: -1px 1px 1px #666;
}

.controls div.center a:hover {
  
  background-color: rgba(180,71,37, 0.4);
}

