
/*
	Theme controls how everything looks in Gallery CSS.
*/

.gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #B43D25;
  overflow: hidden;
  text-align: center;
  background-size: cover;
  background-position: center center;
  
}

.gallery div.center{
  margin-top: 110px;
  height: calc(100% - 110px);
  padding: 0px 15px 0px 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallery div.center h1{
  width: 100%;
  font-size: 3em;
  font-family: "AvenirNextCondensed-Regular";
}

.gallery div.center span.preco{
  font-weight: bold;
}

.gallery div.center p{
  width: 100%;
  font-size: 1em;
}


#banner1{
  background-image: url("../images/img-lente-contato.jpg");
}
#banner2{
  background-image: url("../images/img-armacao.jpg");
}
#banner3{
  background-image: url("../images/img-oculos-sol.jpg");
}
#banner4{
  background-image: url("../images/img-parcele.jpg");
}


#banner1 div.center{
  text-align: left;
  color: #FFF;
}

#banner2 div.center{
  text-align: left;
}

#banner3 div.center{
  text-align: right;
}
#banner4 div.center{
  text-align: center;
  
}

#banner4 div.center h1{
  max-width: 450px;
  background-color: #B43D25;
  color: #FFF;
  padding: 10px;
}
#banner4 div.center p{
  max-width: 340px;
  background-color: #000;
  padding: 10px;
  color: #FFF;
}



.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.controls div.center{
  justify-content: flex-end;
  padding-right: 15px;
}

.controls div.center a {
  display: inline-block;
  margin: 0 .02em;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  transition: color .1s;
  color: #FFF;
  background-color: rgba(0,0,0, 0.3);
  font-family: "Euphemia UCAS";
  text-shadow: -1px 1px 1px #666;
}

.controls div.center a:hover {
  
  background-color: rgba(180,61,37, 0.4);
}

